@{
    ViewData["Title"] = "Profil";
}

<h1>Profil</h1>

<div class="row">
    <div class="col-md-4 d-flex justify-content-between gap-5">
        <a asp-action="ChangeProfile">Zmień profil</a>
        <a asp-action="ChangePassword">Zmień hasło</a>
    </div>
</div>
