@{
    ViewData["Title"] = "Polityka Prywatności";
}

<div class="container mt-5">
    <h1 class="text-center">Polityka Prywatności</h1>
    <hr />
    <p class="lead">Twoja prywatność jest dla nas bardzo ważna. Niniejsza polityka prywatności określa, w jaki sposób serwis <strong>Twoje Wydatki</strong> (dalej zwany "Serwisem") gromadzi, wykorzystuje, udostępnia i chroni Twoje dane osobowe.</p>

    <h2>1. Administrator danych osobowych</h2>
    <p>Administratorem Twoich danych osobowych jest właściciel Serwisu, z siedzibą w [Adres].</p>

    <h2>2. Gromadzenie danych osobowych</h2>
    <p>Podczas rejestracji w Serwisie, zbieramy następujące dane osobowe:</p>
    <ul>
        <li>Imię i nazwisko</li>
        <li>Adres e-mail</li>
        <li>Hasło (zaszyfrowane)</li>
    </ul>
    <p>Ponadto, podczas korzystania z funkcji dodawania wydatków, mogą być gromadzone informacje o wydatkach takie jak kwoty, opisy oraz daty transakcji.</p>

    <h2>3. Wykorzystanie danych osobowych</h2>
    <p>Gromadzone dane osobowe są wykorzystywane w celu:</p>
    <ul>
        <li>Zapewnienia dostępu do Serwisu i jego funkcji</li>
        <li>Zarządzania kontem użytkownika</li>
        <li>Personalizacji i poprawy jakości usług</li>
        <li>Komunikacji z użytkownikami, w tym wysyłania powiadomień i informacji związanych z Serwisem</li>
    </ul>

    <h2>4. Udostępnianie danych osobowych</h2>
    <p>Nie udostępniamy Twoich danych osobowych stronom trzecim, z wyjątkiem przypadków, gdy jest to wymagane przez prawo lub w celu świadczenia usług w naszym imieniu (np. usługi hostingowe).</p>

    <h2>5. Ochrona danych osobowych</h2>
    <p>Dokładamy wszelkich starań, aby chronić Twoje dane osobowe przed nieautoryzowanym dostępem, utratą, zniszczeniem lub nieuprawnionym ujawnieniem. Stosujemy odpowiednie środki techniczne i organizacyjne, aby zapewnić bezpieczeństwo danych.</p>

    <h2>6. Prawa użytkownika</h2>
    <p>Masz prawo do dostępu do swoich danych osobowych, ich poprawiania, usunięcia oraz ograniczenia przetwarzania. Możesz również wycofać zgodę na przetwarzanie danych osobowych w dowolnym momencie.</p>
    <p>Aby skorzystać z tych praw, prosimy o kontakt z administratorem danych osobowych na adres e-mail: biuro@TwojeWydatki.pl.</p>

    <h2>7. Zmiany w polityce prywatności</h2>
    <p>Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej polityce prywatności. Wszelkie zmiany będą publikowane na tej stronie. Zachęcamy do regularnego przeglądania polityki prywatności, aby być na bieżąco z naszymi praktykami dotyczącymi ochrony danych osobowych.</p>

    <h2>8. Kontakt</h2>
    <p>W razie pytań dotyczących niniejszej polityki prywatności, prosimy o kontakt na adres e-mail: biuro@TwojeWydatki.pl.</p>
</div>
